.active {
	pointer-events: auto;
}

.inactive {
	pointer-events: none;
}

.cards {
	max-width: 1050px;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	justify-items: center;
	gap: 30px;

	.card {
		width: 150px;
		height: 150px;
		border-radius: 25px;

		.inner {
			width: 100%;
			height: 100%;
			transform-style: preserve-3d;
			position: relative;

			&.shuffle {
				animation-name: shuffle;
				animation-duration: 0.8s;
				animation-iteration-count: 1;
				animation-fill-mode: forwards;
			}

			&.unshuffle {
				animation-name: unshuffle;
				animation-duration: 0.8s;
				animation-iteration-count: 1;
				animation-fill-mode: forwards;
			}
		}

		.front,
		.back {
			position: absolute;
			width: 100%;
			height: 100%;
			-webkit-backface-visibility: hidden; /* Safari */
			backface-visibility: hidden;
			border-radius: 20px;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.front {
			background: var(--mauve-l);
		}

		.back {
			transform: rotateY(180deg);
			border: var(--mauve-l) solid 2px;
			background-color: var(--mauve-d);

			img {
				width: 40px;
			}
		}
	}
}

@keyframes shuffle {
	from {
		transform: rotateY(0deg);
	}

	to {
		transform: rotateY(180deg);
	}
}

@keyframes unshuffle {
	from {
		transform: rotateY(180deg);
	}

	to {
		transform: rotateY(0deg);
	}
}
